{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "runner": "Unset",
    "chaser": "Unset",
    "saferoom": "Unset",
    "ragdoll": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "saferoom",
      "b": "runner",
      "r": "Ignore"
    },
    {
      "a": "ragdoll",
      "b": "runner",
      "r": "Ignore"
    },
    {
      "a": "ragdoll",
      "b": "chaser",
      "r": "Ignore"
    }
  ],
  "__guid": "c4408301-9357-4342-9c2e-529fd9405fca",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}
