{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "9c7eb84a-d4ce-4c0a-bef9-4fc5a7fea79b",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}